#blueText{
	color: #00CFFF;
}

#whiteText{
	color: white;
}


#navtop{
	background-color: black;
}

#slide{
	max-width: 800px;
	max-height: 600px;
	width: 60%;
	height: 30%;
}

html { 
  background: url("../images/wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}